body {
	visibility: hidden;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-duration: 480ms;
	-o-animation-timing-function: ease-in-out;
	-o-animation-duration: 480ms;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-duration: 480ms
}

body.forward {
	-webkit-animation-name: slideInRightToLeft;
	-o-animation-name: slideInRightToLeft;
	-moz-animation-name: slideInRightToLeft
}

body.back {
	-webkit-animation-name: slideInLeftToRight;
	-o-animation-name: slideInLeftToRight;
	-moz-animation-name: slideInLeftToRight
}

body.down {
	-webkit-animation-name: slideInTopToBottom;
	-o-animation-name: slideInTopToBottom;
	-moz-animation-name: slideInTopToBottom
}

body.up {
	-webkit-animation-name: slideInBottomToTop;
	-o-animation-name: slideInBottomToTop;
	-moz-animation-name: slideInBottomToTop
}

@-webkit-keyframes slideInRightToLeft {
	from { -webkit-transform: scale(.5) translateX(50%); }
	to { -webkit-transform: scale(1) translateX(0); }
}

@-moz-keyframes slideInRightToLeft {
	from { -webkit-transform: scale(.5) translateX(50%); }
	to { -webkit-transform: scale(1) translateX(0); }
}

@-o-keyframes slideInRightToLeft {
	from { -webkit-transform: scale(.5) translateX(50%); }
	to { -webkit-transform: scale(1) translateX(0); }
}

@-webkit-keyframes slideInLeftToRight {
	from { -webkit-transform: scale(.5) translateX(-50%); }
	to { -webkit-transform: scale(1) translateX(0); }
}

@-moz-keyframes slideInLeftToRight {
	from { -webkit-transform: scale(.5) translateX(-50%); }
	to { -webkit-transform: scale(1) translateX(0); }
}

@-o-keyframes slideInLeftToRight {
	from { -webkit-transform: scale(.5) translateX(-50%); }
	to { -webkit-transform: scale(1) translateX(0); }
}

@-webkit-keyframes slideInBottomToTop {
	from { -webkit-transform: scale(.5) translateY(100%); }
	to { -webkit-transform: scale(1) translateY(0); }
}

@-moz-keyframes slideInBottomToTop {
	from { -webkit-transform: scale(.5) translateY(100%); }
	to { -webkit-transform: scale(1) translateY(0); }
}

@-o-keyframes slideInBottomToTop {
	from { -webkit-transform: scale(.5) translateY(100%); }
	to { -webkit-transform: scale(1) translateY(0); }
}

@-webkit-keyframes slideInTopToBottom {
	from { -webkit-transform: scale(.5) translateY(-100%); }
	to { -webkit-transform: scale(1) translateY(0); }
}

@-moz-keyframes slideInTopToBottom {
	from { -webkit-transform: scale(.5) translateY(-100%); }
	to { -webkit-transform: scale(1) translateY(0); }
}

@-o-keyframes slideInTopToBottom {
	from { -webkit-transform: scale(.5) translateY(-100%); }
	to { -webkit-transform: scale(1) translateY(0); }
}