div.popup, div.panel, div.button {
	border-style:solid;
	border-color:#EEFFEE #336633 #336633 #EEFFEE
}
div.tabstrip {
	border-style:none;
}
div.button:active, div.checked, div.pressed {
	border-style:solid;
	border-color:#336633 #EEFFEE #EEFFEE #336633
}
div.tabstrip div.button {
	border-style:solid;
	border-color:#EEFFEE #336633 #EEFFEE #EEFFEE
}

div.tabstrip div.button:active, div.tabstrip div.pressed {
	border-style:solid;
	border-color:#EEFFEE #336633 #EEFFEE #EEFFEE
}
div.tabstrip div.checked {
	border-style:solid;
	border-color:#EEFFEE #336633 #336633 #EEFFEE
}
div.button.disabled:active {
	border-style:solid;
	border-color:#EEFFEE #336633 #336633 #EEFFEE
}
div.button.checked.disabled:active, div.button.disabled.pressed:active {
	border-style:solid;
	border-color:#336633 #EEFFEE #EEFFEE #336633
}
div.tabstrip div.button.checked.disabled:active {
	border-style:solid;
	border-color:#EEFFEE #336633 #336633 #EEFFEE
}
div.window {
	font-weight:bold;
	color:#003300;
	background-color:#FFF
}
div.movehandle, div.selected, .highlighted {
	background-color:#00FF00;
	color:#FFF;
}
div.background .highlighted, .lowlighted {
	background-color:#EEFFEE;
	color:#003300;
}
div.background div.movehandle {
	background-color:#CCFFCC;
	color:#FFF;
}
div.sizehandle {
	background-image:url(../images/sizehandle.gif)
}
div.panel, div.button, div.button a, div.button a:link, div.button a:visited {
	color:#003300;
	background-color:#CCFFCC
}
div.translucent {
	color:#000033;
	background-color:#CCCCFF;
	background-color:rgba(204, 255, 204, .8)
}
div.button:hover, div.button:hover a {
	color:#003300;
	background-color:#FFF
}
div.button.disabled:hover, div.button.disabled:hover a {
	color:#003300;
	background-color:#CCFFCC
}
div.checked, div.checked a, div.checked a:link, div.checked a:visited, div.button.disabled.checked:hover {
	background-color:#EEFFEE;
	color:#003300;
}
div.button.checked.disabled a {
	background-color:#EEFFEE;
	color:#003300;
}
div.tabstrip div.button.disabled:hover, div.tabstrip div.button.disabled:hover a {
	color:#003300;
	background-color:#EEFFEE
}
div.tabstrip div.button.checked.disabled:hover, div.tabstrip div.button.checked.disabled:hover a {
	color:#003300;
	background-color:#CCFFCC
}
div.tabstrip div.button, div.tabstrip div.button a {
	color:#003300;
	background-color:#EEFFEE
}
div.tabstrip div.checked, div.tabstrip div.checked a {
	color:#003300;
	background-color:#CCFFCC
}
div.tabstrip {
	color:inherit;
	background-color:transparent
}

div.maximize {
	background-image:url(../images/maximize.gif)
}
div.fix {
	background-image:url(../images/fix.gif)
}
div.restore {
	background-image:url(../images/restore.gif)
}
div.minimize {
	background-image:url(../images/minimize.gif)
}
div.close {
	background-image:url(../images/closex.gif)
}
div.toolbar div.new {
	background-image:url(../images/new.png)
}
div.toolbar div.open {
	background-image:url(../images/open.png)
}
div.toolbar div.save {
	background-image:url(../images/save.png)
}
div.toolbar div.cut {
	background-image:url(../images/cut.png)
}
div.toolbar div.copy {
	background-image:url(../images/copy.png)
}
div.toolbar div.paste {
	background-image:url(../images/paste.png)
}
div.icon {
	background-image:url(../images/info.gif)
}
div.stop div.icon {
	background-image:url(../images/error.gif)
}
div.caution div.icon {
	background-image:url(../images/alert.gif)
}
div.drawn {
	background-color:#FFF;
	color:inherit
}
#skinfroggy {
	background-color:#EEFFEE;
	color:inherit;
	border-color:#336633 #EEFFEE #EEFFEE #336633;
	border-style:solid
}
#skinfroggy a {
	background-color:#EEFFEE;
	color:inherit
}
div.toolbar div.skin {
	background-image:url(../images/frog.png);
}