div.popup, div.sidebar, div.curtain {
	overflow:hidden
}
div.popup, div.sidebar {
	border-style:solid;
	border-width:2px
}
div.button, div.toolbar {
	border-style:outset;
	border-width:2px
}
div.tabstrip div.checked {
	position:relative;
	top:2px;
	border-bottom-width:0
}
div.toolbar {
	padding:0
}
div.toolbar div.separator {
	margin-left:.25em
}
div.toolbar hr {
	display:none;
}
div.toolbar hr.separator {
	display:block;
}
div.toolbar div.commandbutton {
	display:inline-block
}
div.toolbar div.button a {
	text-decoration:none;
	cursor:default
}
div.tabstrip {
	padding:0 0 0 2px;
	border:none
}
div.tabstrip div.button {
	margin-left:0
}
div.propertysheet {
	margin-top:-6px;
	padding:1em
}
div.commandbutton {
	padding:.25em .5em;
	display:inline
}
div.animated {
	transition-duration:.4s;
	-webkit-transition-duration:.4s;
	-o-transition-duration:.4s
}
div.animated.fast {
	transition-duration:.2s;
	-webkit-transition-duration:.2s;
	-o-transition-duration:.2s
}
div.animated.slow {
	transition-duration:.8s;
	-webkit-transition-duration:.8s;
	-o-transition-duration:.8s
}
div.window {
	padding:0;
	font-size:100%
}
div.captionbutton {
	position:absolute;
	top:2px;
	height:1em;
	width:16px;
	background-repeat:no-repeat;
	background-position:center
}
div.rounded div.captionbutton, div.rounded.toolbar div.button {
	border-radius:.3em;
	-khtml-border-radius:.3em;
	-moz-border-radius:.3em;
	-webkit-border-radius:.3em
}
div.rounded.tabstrip div.button {
	border-bottom-left-radius:0 0;
	border-bottom-right-radius:0 0;
	-khtml-border-bottom-left-radius:0 0;
	-khtml-border-bottom-right-radius:0 0;
	-moz-border-bottom-left-radius:0 0;
	-moz-border-bottom-right-radius:0 0;
	-webkit-border-bottom-left-radius:0 0;
	-webkit-border-bottom-right-radius:0 0
}
div.curtain {
	z-index:3;
	color:inherit;
	height:0px;
	width:0px;
	opacity:0;
        -moz-opacity:0;
        -webkit-opacity:0;
        -khtml-opacity:0;
	transition-property:opacity;
	-webkit-transition-property:opacity;
	-o-transition-property:opacity
}
div.button {
	opacity:1
}
div.disabled, div.drawn, div.dragging {
	opacity:.6;
	-moz-opacity:.6;
	-khtml-opacity:.6;
	-webkit-opacity:.6
}
div.dragging {
	opacity:.6 !important;
	-moz-opacity:.6 !important;
	-khtml-opacity:.6 !important;
	-webkit-opacity:.6 !important
}
div.draggable {
	cursor:url("../images/draggable.ico"), move;
}
div.dragging, div.dragging div.movehandle {
	cursor:url("../images/dragging.ico"), move;	
}
div.shown {
	opacity:1;
	-moz-opacity:1;
	-khtml-opacity:1;
	-webkit-opacity:1	
}
div.sidebar {
	z-index:2
}
div.popup {
	z-index:4
}
div.autohide {
	z-index:5
}
div.alwaysontop {
	z-index:6
}
div.content {
	white-space:nowrap;
	text-overflow:ellipsis;
	-webkit-text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	overflow:hidden
}
div.wrap div.content {
	white-space:normal
}
div.wrap {
	width:19em
}
div.vertical {
	width:5em
}
div.vertical .commandbutton {
	display:block;
}
div.movehandle {
	text-align:left;
	margin:0;
	position:relative;
	font-weight:bold;
	padding:2px
}

div.movehandle, div.toolbar div.button {
	white-space:nowrap;
	text-overflow:ellipsis;
	-webkit-text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	overflow:hidden;
}

div.toolbar div.button {
	cursor:default
}

div.toolbar div.iconic, input.iconic {
	padding-left:1.5em;
	background-image:url(../images/logo.gif);
	background-repeat:no-repeat;
	background-position:left
}

div.toolbar div.nocaption {
	padding:.25em .5em;
	background-position:center;
	height:1.2em;
	width:1em
}

div.mini div.movehandle {
	font-size:80%
}
div.sizehandle {
	position:absolute;
	height:12px;
	width:12px;
	right:0;
	bottom:0;
	cursor:se-resize;
	font-size:1px;
	background-repeat:no-repeat
}
div.sizehandleh {
	position:absolute;
	height:100%;
	width:2px;
	right:0;
	top:0;
	cursor:e-resize
}
div.right div.sizehandleh {
	left:0;
	right:auto
}
div.sizehandlev {
	position:absolute;
	width:100%;
	height:2px;
	bottom:0;
	left:0;
	cursor:s-resize
}
div.top div.sizehandlev {
	top:0;
	bottom:auto
}
div.button, div.button a, div.movehandle, div.toolbar, span.highlighted, span.lowlighted {
	transition:background-color .4s, border-color .4s, font-weight .4s, opacity .8s;
	-webkit-transition:background-color .4s, border-color .4s, font-weight .4s, opacity .8s;
	-o-transition:background-color .4s, border-color .4s, font-weight .4s, opacity .8s;
}
div.button, div.button a, div.movehandle, div.toolbar {
	user-select:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none
}
div.button:active, div.checked, div.pressed {
	border-style:inset
}
div.tabstrip div.checked:active, div.tabstrip div.pressed {
	border-style:outset
}
div.button.disabled:active {
	border-style:outset
}
div.button.checked.disabled:active {
	border-style:inset
}
div.button.pressed.disabled:active {
	border-style:inset
}
div.icon {
	height:16px;
	width:16px;
	background-repeat:no-repeat;
	background-color:transparent;
	color:inherit
}
div.disabled {
	background-color:#CCC;
	color:inherit
}
div.rounded {
	border-radius:.3em;
	-khtml-border-radius:.3em;
	-moz-border-radius:.3em;
	-webkit-border-radius:.3em;
}
div.shadowed {
	box-shadow:3px 3px 0 #CCCC99;
	-moz-box-shadow:3px 3px 0 #CCCC99
}
div.maximized {
	box-shadow:none;
	-moz-box-shadow:none
}
div.minimized {
	width:10em
}
div.ease {
	transition-timing-function:cubic-bezier(0.25, 0.1, 0.25, 1.0);
	-webkit-transition-timing-function:cubic-bezier(0.25, 0.1, 0.25, 1.0);
	-o-transition-timing-function:cubic-bezier(0.25, 0.1, 0.25, 1.0)
}

div.ease.linear {
	transition-timing-function:linear;
	-webkit-transition-timing-function:linear;
	-o-transition-timing-function:linear
}
div.ease.in {
	transition-timing-function:cubic-bezier(0.42, 0, 1.0, 1.0);
	-webkit-transition-timing-function:cubic-bezier(0.42, 0, 1.0, 1.0);
	-o-transition-timing-function:cubic-bezier(0.42, 0, 1.0, 1.0)
}

div.ease.out {
	transition-timing-function:cubic-bezier(0, 0, 0.58, 1.0);
	-webkit-transition-timing-function:cubic-bezier(0, 0, 0.58, 1.0);
	-o-transition-timing-function:cubic-bezier(0, 0, 0.58, 1.0)
}

div.ease.in.out {
	transition-timing-function:cubic-bezier(0.42, 0, 0.58, 1.0);
	-webkit-transition-timing-function:cubic-bezier(0.42, 0, 0.58, 1.0);
	-o-transition-timing-function:cubic-bezier(0.42, 0, 0.58, 1.0)
}