div.rounded {
	border-radius:.3em;
	-khtml-border-radius:.3em;
	-moz-border-radius:.3em;
	-webkit-border-radius:.3em;
}
div.shadowed {
	box-shadow:3px 3px 0 #CCC;
	-moz-box-shadow:3px 3px 0 #CCC
}
div.popup {
	border-color:#666699 #000033 #000033 #666699;
	border:solid 2px;
	overflow:hidden	
}
div.window {
	color:#000033;
	background-color:#FFF
}
div.movehandle {
	background-color:#000000;
	color:#FFF;
	text-align:left;
	margin:0;
	cursor:default;
	position:relative;
	font-weight:bold;
	padding:2px 2px 2px 2px
}
div.sizehandle {
	position:absolute;
	height:12px;
	width:12px;
	right:0;
	bottom:0;
	cursor:se-resize;
	font-size:1px;
	background-image:url(../images/sizehandle.gif);
	background-repeat:no-repeat
}
div.sizehandleh {
	position:absolute;
	height:100%;
	width:2px;
	right:0;
	top:0;
	cursor:e-resize
}
div.sizehandlev {
	position:absolute;
	width:100%;
	height:2px;
	bottom:0;
	left:0;
	cursor:s-resize
}
div.captionbutton {
	position:absolute;
	top:2px;
	height:1em;
	width:16px;
	border:outset 2px;
	background-repeat:no-repeat;
	background-color:#FFF;
	color:inherit;
	background-position:center;
	border-radius:.3em;
	-khtml-border-radius:.3em;
	-moz-border-radius:.3em;
	-webkit-border-radius:.3em
}
div.maximize {
	background-image:url(../images/maximize.gif)
}
div.fix {
	background-image:url(../images/fix.gif)
}
div.restore {
	background-image:url(../images/restore.gif)
}
div.minimize {
	background-image:url(../images/minimize.gif)
}
div.close {
	background-image:url(../images/closex.gif)
}
div.checked {
	border:inset 2px
}
div.disabled {
	background-color:#CCC;
	color:inherit
}
div.minimized {
	width:10em
}
div.maximized {
	box-shadow:none;
	-moz-box-shadow:none
}
div.icon {
	height:16px;
	width:16px;
	background-repeat:no-repeat;
	background-color:transparent;
	color:inherit;
}
div.curtain {
	background-color:#FFF;
	color:inherit;
	z-index:1
}
div.disabled, div.curtain {
	opacity:.6;
	-moz-opacity:.6;
	-khtml-opacity:.6;
	-webkit-opacity:.6
}