div.popup, div.sidebar, div.toolbar, div.button {
	border-style:solid;
	border-color:#EEE #333 #333 #EEE
}
div.tabstrip {
	border-style:none;
}
div.button:active, div.checked, div.pressed {
	border-style:solid;
	border-color:#333 #EEE #EEE #333
}
div.tabstrip div.button {
	border-style:solid;
	border-color:#EEE #333 #EEE #EEE
}

div.tabstrip div.button:active, div.tabstrip div.pressed {
	border-style:solid;
	border-color:#EEE #333 #EEE #EEE
}
div.tabstrip div.checked {
	border-style:solid;
	border-color:#EEE #333 #333 #EEE
}
div.button.disabled:active {
	border-style:solid;
	border-color:#EEE #333 #333 #EEE
}
div.button.checked.disabled:active {
	border-style:solid;
	border-color:#333 #EEE #EEE #333
}
div.tabstrip div.button.checked.disabled:active {
	border-style:solid;
	border-color:#EEE #333 #333 #EEE
}
div.window {
	color:#330000;
	background-color:#FFF
}
div.movehandle, div.selected {
	background-color:#000000;
	color:#FFF;
}
div.background div.movehandle {
	background-color:#CCCCCC;
	color:#FFF;
}
div.sizehandle {
	background-image:url(../images/sizehandle.gif)
}
div.button, div.button a, div.button a:link, div.button a:visited, div.toolbar, div.sidebar {
	color:inherit;
	background-color:#CCCCCC
}
div.button:hover, div.button:hover a {
	color:inherit;
	background-color:#FFF
}
div.button.disabled:hover, div.button.disabled:hover a {
	color:inherit;
	background-color:#CCCCCC
}
div.checked, div.checked a, div.checked a:link, div.checked a:visited, div.button.disabled.checked:hover {
	background-color:#EEE;
	color:inherit;
}
div.tabstrip div.button.disabled:hover, div.tabstrip div.button.disabled:hover a {
	color:inherit;
	background-color:#EEE
}
div.tabstrip div.button.checked.disabled:hover, div.tabstrip div.button.checked.disabled:hover a {
	color:inherit;
	background-color:#CCCCCC
}
div.tabstrip div.button, div.tabstrip div.button a {
	color:inherit;
	background-color:#EEE
}
div.tabstrip div.checked, div.tabstrip div.checked a {
	color:inherit;
	background-color:#CCCCCC
}
div.tabstrip {
	color:inherit;
	background-color:transparent
}

div.maximize {
	background-image:url(../images/maximize.gif)
}
div.fix {
	background-image:url(../images/fix.gif)
}
div.restore {
	background-image:url(../images/restore.gif)
}
div.minimize {
	background-image:url(../images/minimize.gif)
}
div.close {
	background-image:url(../images/closex.gif)
}
div.icon {
	background-image:url(../images/info.gif)
}
div.stop div.icon {
	background-image:url(../images/error.gif)
}
div.caution div.icon {
	background-image:url(../images/alert.gif)
}
div.drawn {
	background-color:#FFF;
	color:inherit
}
#skindoom {
	background-color:#EEE;
	color:inherit;
	border-color:#333 #EEE #EEE #333;
	border-style:solid
}
#skindoom a {
	background-color:#EEE;
	color:inherit
}