div.popup, div.panel, div.button {
	border-style:solid;
	border-color:#EEEEFF #333366 #333366 #EEEEFF
}
div.button:active, div.checked, div.pressed {
	border-style:solid;
	border-color:#333366 #EEEEFF #EEEEFF #333366
}
div.tabstrip div.button {
	border-style:solid;
	border-color:#EEEEFF #333366 #EEEEFF #EEEEFF
}
div.tabstrip div.button:active, div.tabstrip div.pressed {
	border-style:solid;
	border-color:#EEEEFF #333366 #EEEEFF #EEEEFF
}
div.tabstrip div.checked {
	border-style:solid;
	border-color:#EEEEFF #333366 #333366 #EEEEFF
}
div.button.disabled:active {
	border-style:solid;
	border-color:#EEEEFF #333366 #333366 #EEEEFF
}
div.button.checked.disabled:active, div.button.disabled.pressed:active {
	border-style:solid;
	border-color:#333366 #EEEEFF #EEEEFF #333366
}
div.tabstrip div.button.checked.disabled:active {
	border-style:solid;
	border-color:#EEEEFF #333366 #333366 #EEEEFF
}
div.window {
	color:#000033;
	background-color:#FFF
}
div.movehandle, div.selected, .highlighted {
	background-color:#0000FF;
	color:#FFF
}
div.background .highlighted, .lowlighted {
	background-color:#EEEEFF;
	color:#000033
}
div.background div.movehandle {
	background-color:#CCCCFF;
	color:#FFF
}
div.sizehandle {
	background-image:url(../images/sizehandle.gif)
}
div.panel, div.button, div.button a, div.button a:link, div.button a:visited {
	color:#000033;
	background-color:#CCCCFF
}
div.translucent {
	color:#000033;
	background-color:#CCCCFF;
	background-color:rgba(204, 204, 255, .8)
}
div.button:hover, div.button:hover a {
	color:#000033;
	background-color:#FFF
}
div.button.disabled:hover, div.button.disabled:hover a {
	color:#000033;
	background-color:#CCCCFF
}
div.checked, div.checked a, div.checked a:link, div.checked a:visited, div.button.disabled.checked:hover {
	background-color:#EEEEFF;
	color:#000033;
}
div.button.checked.disabled a {
	background-color:#EEEEFF;
	color:#000033;
}
div.tabstrip div.button.disabled:hover, div.tabstrip div.button.disabled:hover a {
	color:#000033;
	background-color:#EEEEFF
}
div.tabstrip div.button.checked.disabled:hover, div.tabstrip div.button.checked.disabled:hover a {
	color:#000033;
	background-color:#CCCCFF
}
div.tabstrip div.button, div.tabstrip div.button a {
	color:#000033;
	background-color:#EEEEFF
}
div.tabstrip div.checked, div.tabstrip div.checked a {
	color:#000033;
	background-color:#CCCCFF
}
div.tabstrip {
	color:inherit;
	background-color:transparent
}

div.maximize {
	background-image:url(../images/maximize.gif)
}
div.fix {
	background-image:url(../images/fix.gif)
}
div.restore {
	background-image:url(../images/restore.gif)
}
div.minimize {
	background-image:url(../images/minimize.gif)
}
div.close {
	background-image:url(../images/closex.gif)
}
div.toolbar div.new {
	background-image:url(../images/new.png)
}
div.toolbar div.open {
	background-image:url(../images/open.png)
}
div.toolbar div.save {
	background-image:url(../images/save.png)
}
div.toolbar div.cut {
	background-image:url(../images/cut.png)
}
div.toolbar div.copy {
	background-image:url(../images/copy.png)
}
div.toolbar div.paste {
	background-image:url(../images/paste.png)
}
div.icon {
	background-image:url(../images/info.gif)
}
div.stop div.icon {
	background-image:url(../images/error.gif)
}
div.caution div.icon {
	background-image:url(../images/alert.gif)
}
div.drawn {
	background-color:#FFF;
	color:inherit
}
#skinblues {
	background-color:#EEEEFF;
	color:inherit;
	border-color:#333366 #EEEEFF #EEEEFF #333366;
	border-style:solid
}
#skinblues a {
	background-color:#EEEEFF;
	color:inherit
}
div.toolbar div.skin {
	background-image:url(../images/cloud.gif);
}